/****************************
GENERAL LAYOUT
***************************/

.app-header{
	height: 60px;
	background-color: #68A0B5;
	position: absolute;
	top:0px;
	left: 0px;
	right: 0px;
	font-style: normal;
	border-bottom: 4px solid #527D8B;
	font-family:  caviarDreams_Bold;
	position:absolute;
}
.app-header h1{
	text-decoration: none;
	text-shadow: none;
	color:#FFF;
	text-align: center;
	font-size: 1.5em;
}

.app-header .left-menu{
	left: 10px;
	background-image:url('../assets/plus.png');
	background-size:40px;
}

.app-header .left-menu.back{
	left: 10px;
	background-image:url('../assets/arrow_left.png');
	background-size:40px;
}


.app-header .right-menu{
	right: 10px;
	background-image:url('../assets/settings.png');
	background-size:40px;	
}

.app-header .right-menu.save{
	background-image: url('../assets/checkmark.png');
	background-size:40px;
}





.app-header .left-menu, .app-header .right-menu{
	position: absolute;
	top:10px;
	width: 40px;
	height: 40px;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	color:#FFF;
}


.info-ter{
	
	background:#FAAF40;
	position: relative;
	bottom:1px;
	min-height:  40px;
	text-align:center;
	font-family: caviarDreams;
	font-weight: 0;
	color:#FFF;
	vertical-align: middle;
	text-shadow:none;
}

.info-ter p {
	line-height:40px;
	font-weight:none;
}

.list {
    border-top: none;
	
}

.scrollable {
	overflow-y: auto;
	height: 100%;
	-webkit-overflow-scrolling: touch;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 60px;
}


.scrollable .wrap {
	min-height: 100%;
	padding-bottom: 100px;
	-webkit-transform: translateZ(0);
}

.pull-to-refresh {
	line-height: 50px;
	height: 80px;
	width: 100%;
	position: absolute;
	left: 0;
	top: -80px;
	padding-top:20px;
	z-index: -1;
}

.pull-to-refresh >.message {
	height: 50px;
	width: 100%;
	overflow-y: auto;
	position: relative;
}

.pull-to-refresh >.message >i.arrow {
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	display: inline-block;
	margin-left: 10px;
	background-position: center center;
}

.pull-to-refresh >.message >i.arrow {
	width: 20px;
	height: 50px;
	background-image: url('../img/arrow_up.svg');
}

.pull-to-refresh >.message > div.spinner {
    margin-left: 12px;
}

.pull-to-refresh >.message >span.pull,
.pull-to-refresh >.message >span.release,
.pull-to-refresh >.message >span.loading {
	text-align: center;
	display: block;
	height: 50px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}


/*@FONT-FACE
========================*/
@font-face{
  font-family: caviarDreams;
  src: url("../font/CaviarDreams.ttf"); 
}

@font-face {
  font-family: caviarDreams_Bold;
  src: url("../font/CaviarDreams_Bold.ttf");
}

/*********************************
LANDING PAGE
*********************************/

#landing-page{
	background-color:red;
	z-index:10000;
	width:100%;
	height:100%;
}

/*********************************
RESULTATS
*********************************/

.topcoat-list__item{
	background-color: #FFF;
	width:80%;
	margin: 0 auto;
	list-style-type:none;
	margin-top: 2%;
	border-bottom: solid 3px #9E9D9D;
	padding:1% 5% 5% 5%;
}

.topcoat-list__item  h1{
	font-family: caviarDreams_bold;
	font-size:1.6em;
}
.topcoat-list__item div{
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 30px 30px;
	padding:9px 0 0 40px;
	margin: 0 0 10px;
	font-family: caviarDreams;
}
.list li:first-child{
	margin-top:16%;
}
.list li:last-child{
	border:none;
}

a{
}
.street{
 	background-image: url('../assets/marker.png');
}

.seats{
	background-image: url('../assets/chair.png');
}

.schedule{
	background-image: url('../assets/sun.png');
	display:inline-block;						/*TO ALIGN WITH BUTTON*/
}


.topcoat-list__item a{
	
	background-image:url('../assets/arrow_right.png');
	background-size:30px;
	background-repeat:no-repeat;
	background-position: center right;
	text-decoration: none;
	text-shadow:none;
	margin: 0 0 0 35%;
	background-color: #68A0B5;
	border-bottom:3px solid #558398;
	border-radius: 10px;
	font-family:  caviarDreams_bold;
	font-size: 1.3em;
	display: inline-block;
	padding: 10px 40px;
	color:#FFF;
	
}

.light_text{
	font-family: caviarDreams;
	font-size:0.9em;
}

.meteo{
	position:fixed;
	bottom:0px;
	background-color:red;
	width: 100%;
	background-color:#404041;
	color:#FFF;
	text-align:center;
}

.meteo ul {
	font-family: caviarDreams;
	text-shadow:none;
	font-size:0.9em;
	list-style-type: none;
	display:inline-block;
	vertical-align: top;
}

.icon-weather{
	padding: 5px 0;
	width:40px;
	height:40px;
	background-size:40px;
	background-repeat:no-repeat;
}
.cloud{
background-image:url('../assets/cloud.png');	
}

.cloudy{
background-image:url('../assets/cloudy.png');	
}
.sun{
background-image:url('../assets/sun.png');	
}

/*********************************
SETTINGS
*********************************/

form{
	margin-top:100px;
	margin-bottom:110px;
}

label.ui-slider {
	font-family:  caviarDreams_bold;
	font-size: 1.4em;
}

form+ul{
	list-style-type:none;
	font-family:  caviarDreams;
	font-size:1.3em;
	font-weight: bold;
	border-top: 1px solid #9EA0A3;
}

form+ul li{
	padding-top:5px;
	background-repeat: no-repeat;
	background-image:url('../assets/arrow_right_black.png');
	background-position: right center;
	background-size:30px;
	line-height: 45px;
	
}

ul a{
	text-decoration: none;
	color:#404140;
}


/*********************************
ADD TERRAZ
*********************************/

input{
	display:block;
	width:90%;
	margin: 0 auto;
	margin-top:20px;
	min-height: 40px;
	border:none;
	border-top:3px solid #E0E0E1;
}

input[type="text"]
{
    font-size:1.1em;
}

::-webkit-input-placeholder {
	padding-left:15px;
    font-family: caviarDreams_bold;
	font-size:1em;
	
}
:-moz-placeholder { /* Firefox 18- */
    padding-left:15px;
    font-family: caviarDreams_bold;
	font-size:1em;
}
::-moz-placeholder {  /* Firefox 19+ */
   padding-left:15px;
    font-family: caviarDreams_bold;
	font-size:1em;
}
:-ms-input-placeholder {  
	padding-left:15px;
    font-family: caviarDreams_bold;
	font-size:1em;
	text-align: center;
}

label{
	font-family: caviarDreams_bold;
	color:#404140;
	font-size:1.4em;
}
legend{
	padding-top:30px;
	font-family: caviarDreams_bold;
	color:#404140;
	font-size:1.4em;
}

.small_input{
	display:inline;
	width:25%;
}

#suntime{
	margin 0 auto;
	width: 50%;
    margin: 0 auto;
}



